extends layout

block content 
        
  h1 Hello this is home!
  p Lorem ipsum dolor sit amet consectetur adipisicing elit.<br />Labore animi eos, error enim perspiciatis exercitationem impedit dolorem? Cumque voluptates natus tempore soluta odio aliquam, vel, maxime eveniet veritatis dolor.